@charset "UTF-8";
html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #1B1C21;
  font-weight: 500;
  color: white;
  font-size: 14px;
}

#root {
  max-width: 295px;
  margin: 150px auto 0 auto;
}
#root .popup-message {
  position: absolute;
  top: -48px;
  left: -17px;
  font-size: 10px;
  width: 150px;
  background: #424242;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}
#root .popup-message .popup-corner {
  width: 15px;
  height: 15px;
  position: absolute;
  background: #424242;
  transform: rotate(45deg);
  top: 44px;
  left: 16px;
}
#root main .stage-one, #root main .stage-two, #root main .stage-three, #root main .stage-four {
  border-radius: 4px;
  background: #18181F;
}
#root main .promo-card {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  background: #141419;
  border-radius: 4px;
}
#root main .promo-card .flex-container {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
#root main .promo-card .flex-container:nth-child(2) {
  gap: 11.5px;
}
#root main .promo-card .flex-container img {
  background: url("../img/red-bg.png");
  max-width: 45px;
  background-size: contain;
}
#root main .promo-card .flex-container h2 {
  font-size: 18px;
  margin: 0;
  width: min-content;
}
#root main .promo-card .flex-container .arrow {
  padding: 5px 3.5px;
  transition: all 0.3s;
  cursor: pointer;
}
#root main .promo-card .flex-container .arrow path {
  transition: all 0.3s;
}
#root main .promo-card .flex-container .arrow:hover path {
  fill: #FE9400;
  transition: all 0.3s;
}
#root main .promo-card .flex-container .rotate {
  transform: rotate(180deg);
  transition: all 0.3s;
}
#root main .promo-hidden {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 4px 4px;
}
#root main .promo-hidden p {
  margin: 0;
}
#root main .promo-enter {
  max-height: 0;
  overflow: hidden;
}
#root main .promo-enter-active {
  max-height: 1000px; /* Большое значение, чтобы покрыть весь контент */
  transition: max-height 300ms ease-out;
}
#root main .promo-exit {
  max-height: 1000px;
  overflow: hidden;
}
#root main .promo-exit-active {
  max-height: 0;
  transition: max-height 300ms ease-out;
}
#root main .stage-two .promo-card {
  border-radius: 4px 4px 0 0;
}
#root main .stage-two .promo-card .img-container {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
#root main .stage-two .promo-card .img-container img:first-child {
  position: relative;
  z-index: 3;
  background: initial;
  top: 0;
  left: 0;
}
#root main .stage-two .promo-card .img-container .red-bg {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  transition: 0.5s all;
}
#root main .stage-two .promo-card .img-container .light-black-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
#root main .stage-two .promo-card-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}
#root main .stage-two .promo-card-footer .footer-container {
  display: flex;
  justify-content: space-between;
}
#root main .stage-two .promo-card-footer .footer-container .price {
  color: #FE9400;
}
#root main .stage-two .promo-card-footer p {
  margin: 0;
}
#root main .stage-two .promo-hidden {
  background: #141419;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}
#root main .stage-two .promo-hidden .flex-container {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  position: relative;
  width: fit-content;
}
#root main .stage-two .promo-hidden .flex-container:hover span {
  color: #FE9400;
  transition: all 0.3s;
}
#root main .stage-two .promo-hidden .flex-container:active span {
  color: #b25e00;
  transition: all 0.3s;
}
#root main .stage-two .promo-hidden .special-container {
  display: flex;
  align-items: center;
  gap: 9px;
  transition: all 0.3s;
  user-select: none;
  position: relative;
  width: fit-content;
}
#root main .stage-two .promo-hidden .special-container .container {
  display: flex;
  gap: 9px;
  cursor: pointer;
}
#root main .stage-two .promo-hidden .special-container .container:hover {
  color: #FE9400;
  transition: all 0.3s;
}
#root main .stage-two .promo-hidden .special-container .container:active {
  color: #b25e00;
  transition: all 0.3s;
}
#root main .stage-two .promo-hidden .special-container .popup {
  cursor: initial;
}
#root main .stage-two .promo-hidden .special-container .popup-message {
  top: -50px;
  left: 91px;
}
#root main .stage-two .promo-hidden .special-container .popup-message .popup-corner {
  width: 10px;
  height: 10px;
  top: 38px;
  left: 19px;
}
#root main .stage-three .promo-card-footer {
  padding: 10px 15px;
  gap: 3px;
  font-size: 13px;
  font-weight: 400;
}
#root main .stage-three .promo-card-footer span {
  color: #979797;
}
#root main .stage-three .score-board {
  padding: 10px 0 3px 0;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #141419;
}
#root main .stage-three .score-board .grid-container {
  display: grid;
  grid-template-columns: 15px 1fr 39px;
  column-gap: 14px;
  padding: 3px 15px 3px 16px;
}
#root main .stage-three .score-board .grid-container .anon {
  color: #979797 !important;
}
#root main .stage-three .score-board .grid-container p {
  margin: 0;
}
#root main .stage-three .score-board .grid-container p:first-child {
  color: #979797;
}
#root main .stage-three .score-board .grid-container p:nth-child(2) {
  color: #FE9400;
}
#root main .stage-three .score-board .grid-container p:nth-child(odd) {
  text-align: right;
}
#root main .stage-three .score-board .grid-container:nth-child(odd) {
  background: #18181F;
}
#root main .stage-three .score-board .spotlight {
  background: rgba(214, 137, 42, 0.3411764706) !important;
}
#root main .stage-three .score-board .score-header {
  margin-bottom: 4px;
  background: #141419 !important;
  padding: 0 15px;
}
#root main .stage-three .score-board .score-header p {
  color: #535660 !important;
}
#root main .stage-four .promo-card img {
  background: url("../img/red-bg.png") !important;
  background-size: contain !important;
}
#root main .stage-four .promo-card-footer {
  text-align: center;
  padding: 15px;
}
#root main .button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}
#root main .button-group button {
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  font-size: 12px;
  padding: 10px;
  background: #FE9400;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}
#root main .button-group button:hover {
  background: #c47507;
  transition: all 0.3s;
}
#root main .button-group button:active {
  background: #704100;
  transition: all 0.3s;
}
#root main .button-group button:disabled {
  background: grey;
  cursor: initial;
  color: black;
  transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
